{
  "globalSettings": {
    "webhookKey": "your-webhook-key-here",
    "environments": {
      "your-environment-name-1": {
        "baseAddress": "https://your-first-environment-endpoint.com",
        "webhookKey": "your-first-environment-webhook-key"
      },
      "your-environment-name-2": {
        "baseAddress": "https://your-second-environment-endpoint.com",
        "webhookKey": "your-second-environment-webhook-key"
      }
    }
  }
} 