name: _build
run-name: Build ${{ inputs.project-name }}

on:
  workflow_call:
    inputs:
      project-name:
        type: string
        required: true
      project-path:
        type: string
        required: true
      version:
        type: string
        required: true

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    env:
      _PROJECT_PATH: ${{ inputs.project-path }}
      _PROJECT_NAME: ${{ inputs.project-name }}
      _VERSION: ${{ inputs.version }}
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0

      - name: Cache NuGet packages
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Install dependencies
        run: dotnet restore "$_PROJECT_PATH/$_PROJECT_NAME.csproj"

      - name: Build
        run: dotnet build --verbosity minimal "$_PROJECT_PATH/$_PROJECT_NAME.csproj"

      - name: Publish
        run: |
          echo "Publish"
          dotnet publish "$_PROJECT_PATH/$_PROJECT_NAME.csproj" \
            -c Release --no-restore \
            -o "./tmp/publish-$_PROJECT_NAME" -p:"Version=$_VERSION"

      - name: Create artifact
        run: |
          cd "./tmp/publish-$_PROJECT_NAME"
          zip -r "$_PROJECT_NAME.zip" .
          mv "$_PROJECT_NAME.zip" ../../
          pwd
          ls -atlh ../../

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ inputs.project-name }}.zip
          path: ./${{ inputs.project-name }}.zip
          if-no-files-found: error
