name: _create-release-tag
run-name: Create release tag ${{ inputs.version }}

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
    outputs:
      git-tag:
        description: The Git tag that was created using the version number.
        value: ${{ jobs.release.outputs.git-tag }}
      git-tag-ref:
        description: The Git hash that the tag points to.
        value: ${{ jobs.release.outputs.git-tag-ref }}

jobs:
  release:
    name: Create release tag
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    outputs:
      git-tag: ${{ steps.git-tag.outputs.tag }}
      git-tag-ref: ${{ steps.git-tag.outputs.tag_ref }}
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Create Git tag
        id: git-tag
        env:
          BOT_EMAIL: 106330231+bitwarden-devops-bot@users.noreply.github.com
          BOT_NAME: bitwarden-devops-bot
          VERSION: ${{ inputs.version }}
        run: |
          git config --local user.email "${BOT_EMAIL}"
          git config --local user.name "${BOT_NAME}"

          # Check if tag exists, set output then exit 0 if true.
          if git log "v$VERSION" >/dev/null 2>&1; then
            echo "tag=v$VERSION" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          git tag "v$VERSION"
          git push origin "v$VERSION"

          echo "tag=v$VERSION" >> "$GITHUB_OUTPUT"
          echo "tag_ref=$(git rev-list -n 1 "tags/v$VERSION")" >> "$GITHUB_OUTPUT"
