name: CD

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "charts/**"

permissions: {}

jobs:
  version:
    name: Calculate version
    uses: ./.github/workflows/_version.yml
    permissions:
      contents: read
    with:
      is-release: true

  tag:
    name: Create release tag
    needs: version
    uses: ./.github/workflows/_create-release-tag.yml
    permissions:
      contents: write
    with:
      version: ${{ needs.version.outputs.version }}

  test:
    name: Run test
    uses: ./.github/workflows/_test.yml
    permissions:
      checks: write
      contents: read
      pull-requests: write
    with:
      project-name: Billing.Test
      project-path: ./test/Billing.Test

  build:
    name: Run build
    needs:
      - test
      - version
    uses: ./.github/workflows/_build.yml
    permissions:
      contents: read
    with:
      project-name: Billing
      project-path: ./src/Billing
      version: ${{ needs.version.outputs.version }}

  build-push-docker:
    name: Build and push Docker image
    needs:
      - test
      - version
      - build
    uses: ./.github/workflows/_docker.yml
    permissions:
      contents: read
      security-events: write
      id-token: write
    with:
      project-name: Billing
      project-path: ./src/Billing
      version: ${{ needs.version.outputs.version }}
      image-name: billing-relay
      push-docker-image: true
    secrets: inherit

  deploy-k8s-service:
    name: Deploy to Kubernetes
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    needs:
      - tag
      - build-push-docker

    steps:
      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Get Azure Key Vault secrets
        id: get-kv-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: gh-org-bitwarden
          secrets: "BW-GHAPP-ID,BW-GHAPP-KEY"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Generate GH App token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: app-token
        with:
          app-id: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-ID }}
          private-key: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-KEY }}
          owner: ${{ github.repository_owner }}
          repositories: devops

      - name: Dispatch deployment
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          _TAG: ${{ needs.tag.outputs.git-tag }}
        run: >
          gh workflow run deploy-k8s-service.yml
          --repo bitwarden/devops
          --field image-names=billing-relay
          --field environment=Mothership
          --field overlay=mship-cloud-netnew
          --field project-name="Billing Relay"
          --field repository=billing-relay
          --field tag="$_TAG"
