name: CI

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

permissions: {}

jobs:
  version:
    name: Calculate version
    uses: ./.github/workflows/_version.yml
    permissions:
      contents: read

  test:
    name: Run test
    uses: ./.github/workflows/_test.yml
    permissions:
      checks: write
      contents: read
      pull-requests: write
    with:
      project-name: Billing.Test
      project-path: ./test/Billing.Test

  build:
    name: Run build
    needs:
      - test
      - version
    uses: ./.github/workflows/_build.yml
    permissions:
      contents: read
    with:
      project-name: Billing
      project-path: ./src/Billing
      version: ${{ needs.version.outputs.version }}

  build-push-docker:
    name: Build Docker image
    needs:
      - test
      - version
      - build
    uses: ./.github/workflows/_docker.yml
    permissions:
      contents: read
      security-events: write
      id-token: write
    with:
      project-name: Billing
      project-path: ./src/Billing
      version: ${{ needs.version.outputs.version }}
      image-name: billing-relay
      push-docker-image: true
    secrets: inherit
